/* RESET */

h1, p, ul {
  margin: 0;
  padding: 0;  
}

ul {
  list-style: none;
}

/* General Style */

body{  
  margin: 0 auto;
  padding: 0 40px 0 40px;
  background-image: url(images/bg-intro.svg);
  background-repeat: no-repeat; 
  background-size: 100%;
  display: grid;
  grid-template-areas:   
  "header"
  "illustration"
  "main";  
}

/* Grid Template */

.header{  
  grid-area: header;
}

.illustration{
  grid-area: illustration;
}

.main{
  grid-area: main;
}

/* Header */
nav{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

#socialMedia{
  display: flex;
  align-items: center;  
}

#socialMedia svg{
  height: 20px;
  fill: white;
  transition: 0.1s ease-in-out;
}

#socialMedia svg:hover{
  fill: transparent;
  stroke: white;
			stroke-width: 20;   
}

li + li{
  margin-left: 20px;
}

#illustrationMain{
  width: 75%;
  margin: 0 auto;
  margin-top: 50px; 
  margin-bottom: 35%;
}

/* Main */

h1{
  font-size: 1.8em;
  
  margin-bottom: 20px;
}

h1, #signUp, footer{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: hsl(243, 87%, 12%);
}

#description{
  font-family: 'Open Sans', sans-serif;
  color: hsl(0, 0%, 50%);
  font-weight: 400;
  margin-bottom: 50px;
}

/* Form */

form{
  display: grid;   
}

#signUp, input{
  margin-bottom: 20px;  
}

#box{
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 3px;
  height: 40px;
  font-size: 1em;  
}

#btn{
  color: #fff;
  font-weight: 700;
  background-color: hsl(163, 95%, 43%);
  border: none;
  height: 43px;
  width: 150px;  
  border-radius: 3px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
}

#btn:hover{
  background-color: transparent;
  color: hsl(163, 95%, 43%);
  border: solid 2px hsl(163, 95%, 43%);
}

/* Footer */

footer{
  float: right;
  margin-bottom: 30px;
  font-size: 1em;
}

/* Queries */

@media(min-width:1440px){
  body{
    grid-template-areas:
    "illustration header"
    "illustration main";
    grid-template-columns: 1fr 1fr;
    background-image: none;
    padding: 0;
    height: 100vh;
  }

  #socialMedia li svg, #logo-fylo{
    fill: hsl(243, 87%, 12%);
  }

  #socialMedia svg{    
    transition: 0.1s ease-in-out;
  }
  
  #socialMedia svg:hover{
    fill: transparent;
    stroke: hsl(243, 87%, 12%);
        stroke-width: 20;   
  }

  #illustrationMain{
    display: flex;
    justify-content: center;    
    background-image: linear-gradient(hsl(243, 87%, 12%), hsl(243, 86%, 85%));
    margin: 0 auto;
    width: 100% !important;    
    margin-top:0 !important; 
    margin-bottom: 0 !important;
  }  

  #illustrationMain svg{    
    width: 50%;
  }

  .header, .main{
    padding: 0 60px;    
  }

  .main{
    max-width: 75%;
  }

  form{    
    grid-template-columns: 2fr 1fr; 
    justify-content: space-between;
    grid-gap: 30px;
  }  

  #btn{
    width: 100% !important;
  }  
}



